body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    height: 30%;
    box-sizing: border-box;
}

.nav .button {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    border-radius: 8px;
}

.nav .button i {
    font-size: 20px;
    margin-bottom: 5px;
}

.nav .button:nth-child(1) { background-color: #2196F3; }
.nav .button:nth-child(2) { background-color: rgb(68, 124, 68); grid-column: span 2; }
.nav .button:nth-child(3) { background-color: #FFC107; }
.nav .button:nth-child(4) { background-color: #F44336; }
.nav .button:nth-child(5) { background-color: blue; }
.nav .button:nth-child(6) { background-color: #F44336; grid-column: span 2; }
.nav .button:nth-child(7) { background-color: blue; }
.nav .button:nth-child(8) { background-color: #2196F3; }
.nav .button:nth-child(9) { background-color: rgb(68, 124, 68); }
.nav .button:nth-child(10) { background-color: #FFC107; }

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 70%;
    box-sizing: border-box;
}

.chart {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
}

.chart-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.stat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-card h2 {
    margin: 5px 0;
    font-size: 18px;
}

.stat-card p {
    margin: 0;
    font-size: 12px;
}